h1, div, p{
    border: 3px solid blueviolet;
    color: cornflowerblue;
    padding: 10px;
    display: block;
    text-align: center;
}

span{
    display: inline;
    border: 1px solid blue;
}

a{
    display: block;
}

li{
    display: inline;
}

/* h1{
    display: none;
} */