h1{
    text-align: center;
    color: red;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: underline;
}


div.contenedor{
    position: relative;
    border: 5px solid rgb(36, 26, 95);
    width: 30%;
    height: 20%;
    margin: auto;
    padding: 15px;
}

.texto{
    text-align: center;
    color: #08436b;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.imagen{
    width: 100%;
    opacity: 0.5;
}

.imagen:hover{
    opacity: 1;
}
